body{
margin:0;
font-family:tahoma;
background:#05050f;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:linear-gradient(90deg,#000428,#004e92);
box-shadow:0 0 20px #00f2ff;
}

button{
background:#00f2ff;
border:none;
padding:10px;
margin:5px;
border-radius:10px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#00ffaa;
transform:scale(1.1);
}

section{
padding:20px;
}

.hidden{display:none;}

input,textarea{
width:100%;
padding:10px;
margin:5px 0;
border-radius:10px;
border:none;
background:#111;
color:white;
}
